@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

@media screen and (min-width: 401px) {

    body .container {
        background-color: #FFFAFA;
    }
    header h1 {
        color: #CD5C5C;
        font-family: 'Berkshire Swash', cursive;
        font-size: 54px;
        background-image: url(../images/concrete-plant.jpg);
        height: 600px;
        margin-top: 0;
        font-weight: 600;
        padding-left: 20px;
    }
    header h3 {
        margin-left: 20px;
        font-size: 24px;
        color: #4B0082;
    }
    nav a:hover {
        background: #92d3d3;
        color: #6b6b6b;
    }
    h2 {
        border: 2px solid #2e3f8c;
        font-family: 'Roboto', cursive;
        font-size: 28px;
        width: 220px;
        margin: auto;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 10px;
        color: #CD5C5C;
    }
    #Product_catalog {
        margin-top: 20px;
    }
    .col {
        font-size: 20px;
    }
    div button,
    a {
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .about li {
        margin-left: 20px;
    }
    .products {
        list-style-type: circle;
        color: #4B0082;
        font-size: 18px;
        border: 6px solid #663399;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 10px;
    }
    .col img {
        width: 100%;
    }

    .products li {
        margin-top: 10px;
        margin-left: 20px;
    }
    .contacts {
        color: #4B0082;
        font-size: 18px;
        border: 6px solid #663399;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 10px;
    }
    footer img {
        max-height: 40px;
    }
    footer h2 {
        margin-top: 20px;
    }
    .map>p {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10%;
    }
    iframe {
        width: 100%;
        height: 100%;
    }
    #Contact_us section button {
        margin-right: 20px;
    }
    .carousel-item {
        height: 683px;
    }
}

@media screen and (max-width:401px) {
    body .container {
        background-color: #AFEEEE;
        margin: auto;
    }
    footer img {
        max-height: 40px;
    }
    div button {
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    iframe {
        width: 100%;
        height: 100%;
    }
    #Contact_us section button {
        margin-left: 15px;
        width: 100%;
        min-width: 90%;
    }
}
